<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-divider@0.2.0/dist/css/bulma-divider.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <title>Russell Groves</title>
</head>

<body>
    <div class="container has-text-weight-medium">
        {% include 'navbar.html' %}
        <div class="box">
            <div class='card equal-height is-shadowless'>
                <div class='card-content is-flex is-horizontal-center' style="justify-content: center;">
                    <figure class="image is-flex is-horizontal-center" style="justify-content: center;">
                        <img src="{{blog.thumbnail}}">
                    </figure>
                </div>
            </div>
            <h1 class="title is-1 has-text-centered">
                {{blog.title}}
            </h1>
            <h1 class="subtitle is-1 has-text-centered">
                {{blog.summary}}
            </h1>
            <div class="is-divider"></div>
            <div class="container">
                <div class="columns">
                    <div class="column has-text-left">
                        {{blog.author}}
                    </div>
                    <div class="column has-text-right">
                        {{blog.date}}
                    </div>
                </div>
            </div>
            <br>
            {{blog.content | safe}}
        </div>
        {% include 'footer.html' %}
    </div>
</body>

</html>