<h1 class="title is-3 is-uppercase mb-0 pb-2" style="color: #268BD2; border-bottom: 2px solid; display: inline-block; line-height: 0.85;">Experience</h1>
<!-- <div class="is-divider mb-2 mt-2" style="height:3px;border:none;color:#268BD2;background-color:#268BD2;"></div> -->
{% for job in jobs %}
<div class="container">
    <div class="container">
        <h1 class="title is-5" style="color: #657B83;">{{job.title}}</h1>
    </div>
    <div class="container">
        <h2 class="title is-7" style="color: #CB4B16;">{{job.company}}</h2>
    </div>
    <div class="container">
        <div class="columns">
            <div class="column is-6">
                <span class="icon has-text-info">
                    <i class="far fa-calendar-alt"></i>
                </span>
                {{job.start_date}} - {{job.end_date}}
            </div>
            <div class="column">
                <span class="icon has-text-info">
                    <i class="fas fa-map-marker-alt"></i>
                </span>
                {{job.location}}
            </div>
        </div>
    </div>
    <div class="container">
        {% if loop.index <= 3 %}
        {{job.content | safe}}
        {% else %}
        {% endif %}
    </div>
</div>
{% if not loop.last %}
<div class="is-divider"></div>
{% endif %}
{% endfor %}