<div class="column is-8 content">
    <div class="container">
        <h1 class="title is-1 is-uppercase" style="color: #657B83;">Russell Groves</h1>
        <h2 class="title is-5" style="color: #CB4B16;">Linux Systems Administrator</h2>
        <span class="icon has-text-info">
            <i class="fas fa-at" style="color: #CB4B16;"></i>
        </span>russellgroves@gmail.com
        <span class="icon has-text-info">
            <i class="fas fa-phone" style="color: #CB4B16;"></i>
        </span>+27 74 144 6091
        <span class="icon has-text-info">
            <i class="fas fa-map-marker-alt" style="color: #CB4B16;"></i>
        </span>Sandton
    </div>
    <div class="container">
        <span class="icon has-text-info">
            <i class="fab fa-github" style="color: #CB4B16;"></i>
        </span>https://github.com/GoodGuyGroves
        <span class="icon has-text-info">
            <i class="fab fa-linkedin" style="color: #CB4B16;"></i>
        </span>https://www.linkedin.com/in/russell-groves-9659a92b/
    </div>
</div>
<div class="column">
    <div class='card equal-height is-shadowless' style="background-color: #FDF6E3;">
        <div class='card-content is-flex is-horizontal-center' style="justify-content: center;">
            <figure class="image is-128x128 is-flex is-horizontal-center" style="justify-content: center;">
                <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
            </figure>
        </div>
    </div>
</div>