<footer class="footer has-background-white">
    <div class="content has-text-centered">
        <div class="columns">
            <div class="column is-4">
                <p class="has-text-left">
                    © 2020 | Russell Groves
                </p>
            </div>
            <div class="column is-4">
                <p class="has-text-centered">
                    Visitor: 1
                </p>
            </div>
            <div class="column is-4">
                <p class="has-text-right">
                    <a href="mailto:russellgroves@gmail.com" target="_blank">
                        <span class="icon has-text-info is-medium">
                            <i class="fas fa-at fa-2x"></i>
                        </span>
                    </a>
                    <a href="https://github.com/GoodGuyGroves" target="_blank">
                        <span class="icon has-text-info is-medium">
                            <i class="fab fa-github fa-2x"></i>
                        </span>
                    </a>
                    <a href="https://www.linkedin.com/in/russell-groves-9659a92b/" target="_blank">
                        <span class="icon has-text-info is-medium">
                            <i class="fab fa-linkedin fa-2x"></i>
                        </span>
                    </a>
                </p>
            </div>
        </div>

    </div>
</footer>